

.navbar{
    background: var(--dark-gray);
    justify-content: flex-start;
    transition: all 0.2s;

    .navbar-start{
        width: 10%;
    }
    .dropdown{
        color: var(--color-gray-light);
    }
    
    ul.menu.menu-horizontal{
        
            li{
                border-left: 1px solid var(--color-gray);
                padding: 0px 10px;
                line-height: 17px;

                &.en{
                    border-left: 0!important;
                }
            }
            details{
                ul{
                        width: 140%;
                        background: var(--dark-gray);
                        direction: rtl;

                    li{
                        border-left: none;
                        padding: 10px 0px;
                    }
                }
            }
        
    }

    ul{
        li{

            a{
                color: var(--color-gray-light);
                font-size: 16px;

                &:hover{
                    color: aliceblue;
                }
            }
        }
    }

    summary{
        color: var(--color-gray-light);

                     &:hover{
                        color: aliceblue;
                    }

        ul{
            li{
                a{
                    &:hover{
                        color: aliceblue;
                    }
                }
            }
        }
    }
}

.logo-link{
    position: absolute;
    right: 15%;
    top: 6%;
}