@import "tailwindcss";
@plugin "daisyui";

:root{

    --color-primary: #ed1c24;
    --color-gray: #818588;
    --color-gray-light: #C8C8C8;
    --color-beige: #e9d69f;
    --color-green: #cde4b0;
}


body {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  text-align: right;
  color: var(--color-gray);
  line-height: 40px;
}

.container-min{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-max{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
  font-weight: bold;
}
h1.special{
  font-size: 29px;
  font-weight: 400;
}
h2.special{
  font-size: 20px;
  font-weight: 400;
}
h3.special{
  font-size: 16px;
  font-weight: 400;
}
.subtitle{
  font-size: 20px;
}

.bg-gradiant{
    background-image: linear-gradient(190deg, #FBFBFB 0%, #D2D2D2 100%);
}



